@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @*<link href="~/Content/bootstrap.css" rel="stylesheet" />*@

</head>
<body>
    <div class="container">
        <form method="POST" action="Index" id="registerForm">
            <label>新增訂單</label>
            <table class="table table-responsive" border-collapse="collapse">

                <tr>
                    <td>
                        <label>*客戶名稱</label>
                    </td>
                    <td colspan="3">
                        @Html.DropDownList("cuslistdata", (IEnumerable<SelectListItem>)ViewBag.cusdata, new { required = "required validationMessage='請選擇客戶名稱'" })


                    </td>
                </tr>
                <tr>
                    <td>
                        <label>*負責員工名稱</label>
                    </td>
                    <td colspan="3">

                        @Html.DropDownList("emplistdata", (IEnumerable<SelectListItem>)ViewBag.empdata, new { required = "required" })


                    </td>
                </tr>

                <tr>
                    <td>
                        <label>*訂購日期</label>
                    </td>
                    <td>
                        <input type="date" name="OrderDate" required validationmessage="請輸入訂購日期" id="OrderDate" data-greaterdate-msg='出貨日期不可以小於訂購日期' />
                    </td>

                    <td>
                        <label>*出貨日期</label>
                    </td>
                    <td>
                        <input type="date" name="SentDate" required validationmessage="請輸入出貨日期" id="SentDate" onchange="vaildate()" data-greaterdate-msg='出貨日期不可以小於訂購日期' />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>*需要日期</label>
                    </td>
                    <td>
                        <input type="date" name="NeedDate" required validationmessage="請輸入需要日期" id="NeedDate" />
                    </td>
                </tr>

                <tr>
                    <td>
                        <label>出貨公司名稱</label>
                    </td>
                    <td colspan="3">
                        @Html.DropDownList("shipplistdata", (IEnumerable<SelectListItem>)ViewBag.shippdata, new { required = "required validationMessage=please" })


                    </td>
                </tr>

                <tr>
                    <td>
                        <label>運費</label>
                    </td>
                    <td colspan="3">

                        <input type="text" name="Shipment" id="Shipment">

                    </td>
                </tr>

                <tr>
                    <td>
                        <label>出貨國家</label>
                    </td>
                    <td>
                        <input type="text" name="ShipCountry" id="ShipCountry">

                    </td>


                    <td>
                        <label>出貨城市</label>
                    </td>

                    <td>
                        <input type="text" name="ShipCity" id="ShipCity">


                    </td>
                </tr>

                <tr>
                    <td>
                        <label>出貨地區</label>
                    </td>
                    <td>

                        <input type="text" name="ShipArea" id="ShipArea">
                    </td>

                    <td>

                        <label>郵遞區號</label>
                    </td>
                    <td>

                        <input type="text" name="Zipcode" id="Zipcode">


                    </td>
                </tr>


                <tr>
                    <td>
                        <label>出貨地址</label>
                    </td>

                    <td>

                        <input type="text" name="ShipAddress" id="ShipAddress">

                    </td>
                    <td>

                        <label>出貨說明</label>
                    </td>

                    <td>

                        <input type="text" name="ShipDes" id="ShipDes">


                    </td>
                </tr>


                <tr>
                    <td>
                        <label>訂單金額總計</label>
                    </td>
                    <td colspan="3">

                        <input type="text" name="OrderMoney" id="OrderMoney" disabled="disabled">

                    </td>

                </tr>



                <tr>
                    <td></td>


                    <td colspan="3">
                        <input type="submit" id="submit" class="btn btn-default" value="存檔">
                        <input type="reset" id="back" class="btn btn-default" value="回前一頁">

                    </td>
                </tr>
            </table>
            </br>
            <input type="button" class="btn btn-default" value="+新增商品" onclick="Addrow()">
            <table class="table table-striped" id="ProductDetail" border-collapse="collapse">


                <tr>
                    <th>商品</th>
                    <th>單價</th>
                    <th>數量</th>
                    <th>小計</th>

                </tr>




            </table>
        </form>

       
        @if (ViewBag.success != null)
        {
            <script>alert("新增成功");</script>
        }

        @*Kendo UI 樣式設計*@
        <script>
            var money = 0;

            $(document).ready(function () {
                $("#cuslistdata").kendoDropDownList();
                $("#emplistdata").kendoDropDownList();
                $("#shipplistdata").kendoDropDownList();

                $("#OrderDate").kendoDatePicker({
                    animation: {
                        close: {
                            effects: "fadeOut zoom:out",
                            duration: 300
                        },
                        open: {
                            effects: "fadeIn zoom:in",
                            duration: 300
                        }
                    },
                    format: "yyyy/MM/dd"
                });

                $("#SentDate").kendoDatePicker({
                    animation: {
                        close: {
                            effects: "fadeOut zoom:out",
                            duration: 300
                        },
                        open: {
                            effects: "fadeIn zoom:in",
                            duration: 300
                        }
                    },
                    format: "yyyy/MM/dd"
                });

                $("#NeedDate").kendoDatePicker({
                    animation: {
                        close: {
                            effects: "fadeOut zoom:out",
                            duration: 300
                        },
                        open: {
                            effects: "fadeIn zoom:in",
                            duration: 300
                        }
                    },
                    format: "yyyy/MM/dd"
                });


            });


            $("#ShipCountry").kendoAutoComplete();
            $("#ShipCity").kendoAutoComplete();
            $("#ShipArea").kendoAutoComplete();
            $("#Zipcode").kendoAutoComplete();
            $("#ShipAddress").kendoAutoComplete();
            $("#ShipDes").kendoAutoComplete();
            $("#OrderMoney").kendoAutoComplete();
            $("#Shipment").kendoAutoComplete();
            $("#submit").kendoButton({

            });

          
            $("#back").kendoButton({

            });

            var count = 1;
            function Addrow() {

                var ProductDetail = document.getElementById("ProductDetail").tBodies[0];
                var tr = document.createElement("tr");
                //製造select
                var select_td = document.createElement("td");

                var select = document.createElement("select");
                select.setAttribute("id", "Select" + count);
                select.setAttribute("onchange", "changeProduct(" + count + ")");
                select.setAttribute("name","productlistdata");
                select.appendChild(new Option("---請選擇商品---", ""));
         @foreach (var item in (List<ASP.NET.Models.Products>)ViewBag.ProductData)
            {
                @: select.appendChild(new Option("@item.ProductName", "@item.ProductID"));
                                    
            }

            select_td.appendChild(select);

            //製造price
            var pricetd = document.createElement("td");
            var price_input = document.createElement("input");
            price_input.setAttribute("id", "Price" + count);
            price_input.setAttribute("name","price");
            price_input.setAttribute("type", "text");
            pricetd.appendChild(price_input);


            //製造count
            var count_td = document.createElement("td");
            var count_input = document.createElement("input");
            count_input.setAttribute("id", "Count" + count);
            count_input.setAttribute("type", "text");
            count_input.setAttribute("name","count");
            count_input.setAttribute("oninput", "changeTotal(" + count + ")");

            count_td.appendChild(count_input);


            //製造total
            var total_td = document.createElement("td");
            var total_input = document.createElement("input");
            total_input.setAttribute("id", "Total" + count);
            total_input.setAttribute("class", "tbtotal");

            total_input.setAttribute("type", "text");
            total_input.setAttribute("disabled", "disabled");
            total_td.appendChild(total_input);




            //將 select price count total 放入tr內
            tr.appendChild(select_td);
            tr.appendChild(pricetd);
            tr.appendChild(count_td);
            tr.appendChild(total_td);

            ProductDetail.appendChild(tr);

            $("#Select" + count).kendoComboBox();

            $("#Count" + count).kendoAutoComplete();
            $("#Total" + count).kendoNumericTextBox({ format: "c2" });
            $("#Price" + count).kendoNumericTextBox({ format: "c2" });

            count++;



            }

            //選擇商品名稱自動改變價格欄位
            function changeProduct(row_count) {

                var product_value = $("#Select" + row_count).val();

                $.ajax({
                    url: '@Url.Action("Product_Price", "Insert")',
                    type: "POST",
                    dataType: 'text',
                    data: {
                        id: product_value
                    },
                    success: function (msg) {
                        $("#Price" + row_count).kendoNumericTextBox().val(msg).kendoNumericTextBox().trigger();
                        console.log(msg);
                    }

                });

            }

            //輸入價格自動計算小計欄位
            function changeTotal(row_count) {
                var product_value = $("#Price" + row_count).val();
                var Count_value = $("#Count" + row_count).val();
                var Total = $("#Total" + row_count).val(product_value * Count_value).kendoNumericTextBox().trigger();


            }
        </script>

      

    </div>
</body>



</html>
@*表單驗證機制*@
<script type="text/javascript">
    var validator = $("#registerForm").kendoValidator().data("kendoValidator");

  

    function vaildate()
    {
        var container = $("#registerForm");
        kendo.init(container);
        container.kendoValidator({
            rules: {
                greaterdate: function (input) {

                    console.log(input);
                    var OrderDate = $("#OrderDate").val();
                    var SentDate = $("#SentDate").val();


                    if (OrderDate > SentDate) {
                        console.log("錯誤");

                        return false;
                    }

                    else {
                        console.log("正確");
                        return true;

                    }








                }
            }
        });
        
    }



</script>