@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>


@using Newtonsoft.Json.Linq
@model dynamic

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @*<link href="~/Content/bootstrap.css" rel="stylesheet" />*@
   
</head>
<body>

    <div class="container">
        @*<form method="post" action="Search">*@
            <label>訂單查詢</label>
            <table class="table table-responsive">
                <tr>
                    <td>
                        <label>訂單編號</label>
                    </td>
                    <td>
                        <input type="text" name="OrderID" id="OrderID" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>客戶名稱</label>
                    </td>
                    <td>
                        <input type="text" name="User" id="User" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>負責員工</label>
                    </td>
                    <td>

                        @Html.DropDownList("employeeName", (IEnumerable<SelectListItem>)ViewBag.empdata)

                    </td>
                </tr>
                <tr>
                    <td>
                        <label>出貨公司</label>
                    </td>
                    <td>
                        @Html.DropDownList("shipperdata", (IEnumerable<SelectListItem>)ViewBag.shipperdata)


                    </td>
                </tr>

                <tr>
                    <td>
                        <label>訂購日期</label>
                    </td>
                    <td>
                        <input type="date" name="OrderDate" id="OrderDate" />


                        <label>出貨日期</label>

                        <input type="date" name="SentDate" id="SentDate" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>需要日期</label>
                    </td>
                    <td>
                        <input type="date" name="NeedDate" id="NeedDate" />
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit"  value="查詢" id="submit">
                        <input type="reset" value="清除" id="clear" />
                       <a href="/Insert/Insert"><input type="button" id="add" value="新增訂單"></a>

                    </td>
                </tr>
            </table>
        @*</form>*@

    </div>



    @if (ViewBag.Query_data != null)
    {

        <div class="container">
            <div id="grid"></div>

            <script>



            </script>
            <label>查詢結果</label>
     
        </div>
    }

    @*設定kendo ui 樣式*@
    <script>

        $(document).ready(function () {
            // create ComboBox from input HTML element
   

            // create ComboBox from select HTML element
            $("#employeeName").kendoDropDownList();
            $("#shipperdata").kendoDropDownList();
            $("#OrderDate").kendoDatePicker({
                animation: {
                    close: {
                        effects: "fadeOut zoom:out",
                        duration: 300
                    },
                    open: {
                        effects: "fadeIn zoom:in",
                        duration: 300
                    }
                },
                format: "yyyy/MM/dd"
            });

            $("#SentDate").kendoDatePicker({
                animation: {
                    close: {
                        effects: "fadeOut zoom:out",
                        duration: 300
                    },
                    open: {
                        effects: "fadeIn zoom:in",
                        duration: 300
                    }
                },
                format: "yyyy/MM/dd"
            });

            $("#NeedDate").kendoDatePicker({
                animation: {
                    close: {
                        effects: "fadeOut zoom:out",
                        duration: 300
                    },
                    open: {
                        effects: "fadeIn zoom:in",
                        duration: 300
                    }
                },
                format: "yyyy/MM/dd"
            });



            $("#clear").kendoButton({
                icon: "cancel"
            });

            $("#add").kendoButton({
                
            });


            $("#submit").kendoButton({
                icon: "cancel"
            });


            $("#OrderID").kendoAutoComplete();

            $("#User").kendoAutoComplete();
            $("#grid").kendoGrid();

        });



    </script>

    @*SetDataSource*@
    <script>

    $(function () {
        // Handler for .ready() called.

        //建立資料來源物件
        var dataSrc = new kendo.data.DataSource({
            transport: {
                read: {
                    //以下其實就是$.ajax的參數
                    type: "POST",
                    url: '@Url.Action("DataSource", "Search")',
                    dataType: "json",
                    data: {
                        //額外傳至後方的參數
                        OrderID: function () {
                            return $("#OrderID").val();
                        },
                        User: function () {
                            return $("#User").val();
                        },

                        OrderDate: function () {
                            return $("#OrderDate").val();
                        },

                        SentDate: function () {
                            return $("#SentDate").val();
                        },

                        NeedDate: function () {
                            return $("#NeedDate").val();
                        },

                        employeeName: function () {
                            return $("#employeeName").val();
                        },

                        shipperdata: function () {
                            return $("#shipperdata").val();
                        },



                    }
                },
                update: {
                    url: '@Url.Action("UpdateData", "../Update/Update")',
                    type: "POST",
                    dataType: "text",

                },
                destroy: {
                    url: '@Url.Action("DeleteData", "../Delete/Delete")',
                    type: "POST",
                    dataType: "text",

                },

                parameterMap: function (options, operation) {
                    if (operation !== "read" && options.models) {

                        console.log(options.models[0]);
                        options.models[0].OrderDate = kendo.toString(kendo.parseDate(options.models[0].OrderDate, 'yyyy-MM-dd'), 'yyyy-MM-dd')
                        options.models[0].ShippedDate = kendo.toString(kendo.parseDate(options.models[0].ShippedDate, 'yyyy-MM-dd'), 'yyyy-MM-dd')
                        console.log(options.models[0]);

                        return { models: JSON.stringify(options.models[0]) };
                    }
                }


            },
            pageSize: 10,
            batch: true,
            schema: {
                model: {

                    id: "OrderID",
                    fields:
                        {
                            OrderID: { editable: false, nullable: false },
                            CompanyName: { editable: false, nullable: false },
                            OrderdDate: { editable: true, nullable: false },
                            ShippedDate: { editable: true, nullable: false },



                        }
                }
            },




        });


        console.log(dataSrc);

        $("#dvGrid").kendoGrid({


            columns: [
                { field: "OrderID", title: "訂單編號" },
                {
                    field: "CompanyName", title: "客戶名稱",
                },
                {
                    field: "OrderDate", title: "訂購日期", template: "#= kendo.toString(kendo.parseDate(OrderDate, 'yyyy-MM-dd'), 'yyyy-MM-dd') #"
                },
                { field: "ShippedDate", title: "出貨日期", template: "#= kendo.toString(kendo.parseDate(ShippedDate, 'yyyy-MM-dd'), 'yyyy-MM-dd') #" },
                { title: "明細資料", template: '<a href=/Update/Update?orderId=#= OrderID # class=k-button>訂單明細</a>' },
                { command: ["edit", "destroy"], title: "&nbsp;", width: "250px" }
            ],
            editable: "inline",
            dataSource: dataSrc,
            sortable: true,
            filterable: true,
            columnMenu: true,
            pageable: true,



        });



      

        $("#submit").click(function () {

            ///////當click按下後 撈取特定資料

            var data = new kendo.data.DataSource({
                transport: {
                    read: {
                        //以下其實就是$.ajax的參數
                        type: "POST",
                        url: '@Url.Action("DataSource", "Search")',
                        dataType: "json",
                        data: {
                            //額外傳至後方的參數
                            OrderID: function () {
                                return $("#OrderID").val();
                            },
                            User: function () {
                                return $("#User").val();
                            },

                            OrderDate: function () {
                                return $("#OrderDate").val();
                            },

                            SentDate: function () {
                                return $("#SentDate").val();
                            },

                            NeedDate: function () {
                                return $("#NeedDate").val();
                            },

                            employeeName: function () {
                                return $("#employeeName").val();
                            },

                            shipperdata: function () {
                                return $("#shipperdata").val();
                            },



                        }
                    }
                },
                pageSize: 10,
                batch: true,
                schema: {
                    model: {

                        id: "OrderID",
                        fields:
                            {
                                OrderID: { editable: false, nullable: false },
                                CompanyName: { editable: false, nullable: false },
                                OrderdDate: { editable: true, nullable: false },
                                ShippedDate: { editable: true, nullable: false },



                            }
                    }
                },
            });
            //要求資料來源重新讀取(並指定切至第一頁)
            console.log(dataSrc);

            var grid = $("#dvGrid").data("kendoGrid");

            grid.setOptions({
                sortable: true,
                filterable: true,
                columnMenu: true,
                pageable: true,
                dataSource: data
            });


    });

    });

    </script>

    <div id="dvGrid"></div>

</body>
</html>






