@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-1.9.1.min.js"></script>

<h2>Index</h2>



<div class="container">
    <form method="POST" action="Update/Index">
        <label>修改訂單</label>

        <table class="table table-striped" border-collapse="collapse">

            <tr>
                <td>
                    <label>*客戶名稱</label>
                </td>
                <td colspan="3">
                    @Html.DropDownList("cuslistdata", (IEnumerable<SelectListItem>)@ViewBag.OrderData[0].cusdata, new { required = "required" })


                </td>
            </tr>
            <tr>
                <td>
                    <label>*負責員工名稱</label>
                </td>
                <td colspan="3">

                    @Html.DropDownList("emplistdata", (IEnumerable<SelectListItem>)@ViewBag.OrderData[0].empdata, new { required = "required" })


                </td>
            </tr>

            <tr>
                <td>
                    <label>*訂購日期</label>
                </td>
                <td>
                    <input type="date" name="OrderDate" value="@ViewBag.OrderData[0].OrderDate"required  />
                </td>

                <td>
                    <label>出貨日期</label>
                </td>
                <td>
                    <input type="date" name="SentDate" value="@ViewBag.OrderData[0].ShippedDate" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>*需要日期</label>
                </td>
                <td>
                    <input type="date" name="NeedDate" value="@ViewBag.OrderData[0].RequiredDate" required />
                </td>
            </tr>

            <tr>
                <td>
                    <label>出貨公司名稱</label>
                </td>
                <td colspan="3">
                    @Html.DropDownList("shipplistdata", (IEnumerable<SelectListItem>)@ViewBag.OrderData[0].shippdata)


                </td>
            </tr>

            <tr>
                <td>
                    <label>運費</label>
                </td>
                <td >
                  
                    @ViewBag.OrderData[0].Freight
                   
                </td>
                <td>

                    <input type="text" name="Shipment" hidden="hidden" value="@ViewBag.OrderData[0].Freight">
                </td>
            </tr>

            <tr>
                <td>
                    <label>出貨國家</label>
                </td>
                <td>
                    <input type="text" name="ShipCountry" value="@ViewBag.OrderData[0].ShipCountry">

                </td>


                <td>
                    <label>出貨城市</label>
                </td>

                <td>
                    <input type="text" name="ShipCity" value="@ViewBag.OrderData[0].ShipCity">


                </td>
            </tr>

            <tr>
                <td>
                    <label>出貨地區</label>
                </td>
                <td>

                    <input type="text" name="ShipArea" value="@ViewBag.OrderData[0].ShipRegion">
                </td>

                <td>

                    <label>郵遞區號</label>
                </td>
                <td>

                    <input type="text" name="Zipcode" value="@ViewBag.OrderData[0].ShipPostalCode">


                </td>
            </tr>


            <tr>
                <td>
                    <label>出貨地址</label>
                </td>

                <td>

                    <input type="text" name="ShipAddress" value="@ViewBag.OrderData[0].ShipAddress">

                </td>
                <td>

                    <label>出貨說明</label>
                </td>

                <td>

                    <input type="text" name="ShipDes" value="@ViewBag.OrderData[0].ShipName">


                </td>
            </tr>


            <tr>
                <td>
                    <label>訂單金額總計</label>
                </td>
                <td >

                    <input type="text" name="OrderMoney" id="OrderMoney" disabled="disabled" value="@ViewBag.OrderData[0].totalMoney">

                </td>

                <td >

                    <input type="text" name="Orderid" id="Orderid" hidden="hidden" value="@ViewBag.OrderData[0].OrderID" />

                </td>


            </tr>



            <tr>
                <td></td>


                <td colspan="3">
                    <input type="submit" class="btn btn-default" value="存檔">
                    <input type="button" class="btn btn-default" value="刪除本訂單" onclick="location.href = '/Delete/Delete?orderId=@ViewBag.OrderData[0].OrderID'">

                    <input type="reset" class="btn btn-default" value="回前一頁">

                </td>
            </tr>
        </table>
        </br>
        <input type="button" class="btn btn-default" value="+新增商品" onclick="insert()">
        <table class="table table-striped" id="ProductDetail" border-collapse="collapse">

            <tr>
                <td>商品</td>
                <td>單價</td>
                <td>數量</td>
                <td>小計</td>
                <td></td>


            </tr>
            
           @foreach (var detail in ViewBag.OrderDetailsData)
           {
                <tr id="order_detail">
               
                    <td>@Html.DropDownList("productlistdata", (IEnumerable<SelectListItem>)@detail.productdata)</td>
                    <td class="tbprice"><input type="text" id="price" name="price" value="@detail.UnitPrice"></td>
                    <td class="tbcount"><input type="text" id="count" name="count" value="@detail.Qty"></td>
                    <td class="tbtotal"><label>@detail.total</label></td>
                    <td class="tbnone"></td>
             
                </tr>
           }
        </table>
    </form>

    <script>


        var money = 0;
        $(document).ready(function () {
            var test = $('#order_detail');
            test.find("select").change(function () {
                console.log("test");

                var product_id = $("#productlistdata").val();
                console.log(product_id);

                $.ajax({
                    url: "Update/Product_Price",
                    type: "POST",
                    dataType: 'text',
                    data: {
                        id : product_id
                    },
                    success: function (msg) {
                        $("#price").val(msg);
                        console.log(msg);
                    }

                });

            });


            $("#count").change(function () {
                var price = $("#price").val();
                var count = $("#count").val();

                var total = price * count;
                console.log(total);

                $("#total").text(total);
                money += total;
                $("#OrderMoney").val(money);

            });

        });


        function insert()
        {
            var temp = $('#order_detail').clone();

            temp.find("select").change(function () {
                var product_id = temp.find("select").val();
                console.log(product_id);
                $.ajax({
                    url: "Update/Product_Price",
                    type: "POST",
                    dataType: 'text',
                    data: {
                        id: product_id
                    },
                    success: function (msg) {
                        temp.find("#price").val(msg);

                    }

                });
            });

            temp.find("#count").change(function () {


                var price = temp.find("#price").val();
                var count = temp.find("#count").val();

                var total = price * count;
                console.log(total);

                temp.find("#total").text(total);
                money += total;
                console.log("Now "+money);
                $("#OrderMoney").val(money);

            });
            temp.html().replace("productlistdata", "ProductSelect")
            $("#ProductDetail").append(temp);


        }
       
      
    </script>

    @if (ViewBag.success != null)
    {
        <script>alert("更新成功");</script>

    }
    
</div>